<table>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Produto</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
    {% for pedido in pedidos %}
    <tr>
      <td>{{ pedido.nome }}</td>
      <td>{{ pedido.email }}</td>
      <td>{{ pedido.produto.nome }}</td>
      <td>{{ pedido.status }}</td>
      <td>
        <form method="POST" action="{{ url_for('confirmar_pagamento', pedido_id=pedido.id) }}">
          <button type="submit">Confirmar Pagamento</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  